
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.woff"),
         url("../fonts/Montserrat-Bold.woff2");

}
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.woff"),
         url("../fonts/Montserrat-Regular.woff2");

}
body {
    font-family: "Montserrat", "Arial", sans-serif;
}
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding-top: 120px;
}
.container__heading {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, red 10%, orangered 25%, orange 35%, yellow 45%, orange 60%, orangered 90%, blue 95%, lightblue);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.container__desc {
    color: rgb(41, 124, 201);
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 150px;
}
.container__button {
    display: inline-block;
    width: 170px;
    height: 80px;
    background-color: red;
    border: none;
    cursor: pointer;
}
